/*  COLORS */
blue #3161E0
grey #F6F6F6
darkgrey #23272A
lightblue #8EA1E1

/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;

}

.flex-container {
    display: flex;
}

.white-text {
    color: #FFF;
}

.lightblue-text {
    color: #8EA1E1;
}

.grey-bg {
    background-color: #F6F6F6;
}

.darkgrey-bg {
    background-color: #23272A;
}

/* HEADER */

header {
    background-color: #3161E0;
}

.head {
    height: 50px;
}

.main-head {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.logo .login {
    width: 25%;
}

.links {
    width: 50%;
}

.head, .flex-container {
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FFF;
}

ul, .flex-container {
    justify-content: space-evenly;
}

.button {
    padding: 40px;
}

/* SECTIONS */

.image {
    width: calc(100% / 5 * 3 - 15px);
    flex-basis: 500px;
    padding: 15px;

}

.picture {
    height: 300px;
    padding: 50px;

}

.paragraph {
    width: calc(100% / 5 * 2);
    flex-basis: 500px;
    padding: 15px;
    box-sizing: border-box;
}

.section {
    height: 500px;
    justify-content: space-between;
}

.middle {
    order: 1;
}